@{
    ViewBag.Title = "Contato";
}

<div class="jumbotron">
    <div class="box-title">
        <h2 class="title">Contatos Imediatos de Quinto Grau</h2>
    </div>
    <div class="content">
                
        <h3 class="b">Telefone</h3>
        <p>
            <span>Chat Fone Via Láctea:</span>
            <span><b>+99 35 99156-65672</b></span>
            <br />
        </p>
        <h3 class="b">Email</h3>
        <p>
            <span>Golfinho:</span>
            <span><a href="mailto:ogolfinho@blog42.com">ogolfinho@blog42.com</a></span>
        </p>
        <p>
            <span>Abduções:</span>
            <span><a href="mailto:abducted@nasa.gov">abducted@nasa.gov</a></span>
            <br />
        </p>
        <h3 class="b">Endereço</h3>
        <span>
            <span>101001E, Fim do Mundo.</span>
            <span>Próximo ao restaurante.</span>
        </p>

    </div><!-- /.content -->
</div><!-- /.jumbotron -->