@{
    ViewBag.Title = "Sobre";
}

<div class="jumbotron">
    <div class="box-title">
        <h2 class="title">Sobre a vida, o universo e tudo mais!</h2>
    </div>
    <div class="content">

    <div class="row box-about">
        <div class="col-md-4">
            <img class="img-responsive img-circle" src="~/Images/profile.jpg" alt="Golfinho" />
        </div>
        <div class="col-md-8">
            <h2>Oi. Eu sou um <strong>Golfinho</strong>.</h2>
            <p>Isso mesmo! Mas... Mesmo tão superior, eu decidi cultivar amizades humanas. Bom, acredito que já tenham reparado, mas vou dizer mesmo assim, este blog é voltado para aqueles que não saem de casa sem a sua toalha. Os <b>Mochileiros das Galáxias</b>.</p>
            <p>Caso você não seja um, <b>não entre em pânico!</b> Adquira seu exemplar do guia e faça parte deste clã. Afinal, se você desconhece essas informações, você pode estar numa fria.</p>
        </div>
    </div>   

    </div><!-- /.content -->
</div><!-- /.jumbotron -->