@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "Erro";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Erro - Blog 42</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta author="Thiago Barradas" />
    @Styles.Render("~/Content/custom.css")
</head>
<body>
    <div id="div-error">
        <div id="img-error" onclick="location.href='@Url.Action("Index","Home")'"></div>
    </div>
</body>
</html>
