@{
    ViewBag.Title = "Editar Postagem";
}

<div class="jumbotron">

    <!-- Titulo e Menu -->
    @Html.Partial("_PanelTitle")
    @Html.Partial("_PanelTabs")

    <div class="tab-content">
        <!-- Início Conteúdo da página -->
        Editar Postagem
        <br /><br /><br />
        @ViewBag.Id

        <!-- Fim Conteúdo da página -->
    </div>
</div><!-- /.jumbotron -->