/*
 * CSS customizado para completação do bootstrap e layout
 */

/*
 * Define tamanho mínimo para layout responsivo
 */
html, body {
    min-width: 320px;
}

/* 
 * Espaçamento no body para menu não sobrescrever conteúdo inicial
 */
body {
  padding-top: 70px;
}

/* 
 * Estilo para Logo 
 */
.logo {
  background: url(../Images/logo_blog.png) no-repeat top left;
  background-size: contain;
  display: block;
  width: 230px;
  height: 50px;
  text-indent: -9999px; /* ocultar o texto do link */
}

/* 
 * Customização background do menu principal hover
 */
#navbar ul li:hover {
    background: #ced0ff;
}

/* 
 * Rodapé centralizado e espaçado
 */
footer {
  text-align: center;
  padding-bottom: 20px;
}

/*
 * Estilo para cada postagem
 */
.jumbotron {
    background-color: #F5F5F5;
    padding: 1em;
}
.jumbotron .box-title {
    padding: 1em 1em 0.5em 1em;
}
.jumbotron .title {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}
.jumbotron .subtitle {
    font-size: 0.7em;
    margin-right: 1em;
}
.jumbotron .subtitle span {
    padding-right: 1.1em;
}
.jumbotron .content {
    border-top: 1px dotted #000;
    padding: 1em 1em 0.5em 1em;
    margin-bottom: 1em;
    font-size: 0.9em;
}

/*
 * Mensagem de sucesso
 */
.div-success {
    text-align: center;
    width: 100%;
}
.msg-success {
    color: #2dbd22;
}

/*
 * Mensagem de erros de validação no input
 */
.field-validation-error {
    color: #e40b0b;
    font-size: 0.8em;
}
.input-validation-error {
    border-color: #e40b0b;
    background-color: #ffeeee;
}

/*
 * Mensagem de erros de validação no sumário (lista)
 */
.validation-summary-errors ul {
    padding-left: 0.5em;
}
.validation-summary-errors ul li {
    padding-left: 1em;
    display: block;
    position: relative;
}
.validation-summary-errors ul li:before {
    font-family: 'Glyphicons Halflings';
    position: absolute;
    left: 0px;
    top: 0.2em;
    font-size:80%;
    content: '\e014';
}
.validation-summary-errors ul li {
    color: #e40b0b;
}

/*
 * Form de login
 */
#box-login {
    min-width: 280px;
    width: 70%;
    margin: 1.5em auto;
}
#box-login .btn {
    width: 100%;
}

/*
 * Estilo para página Sobre
 */
.box-about {
    margin-top: 1em;
}
.box-about div img {
    margin: 0 auto;
    padding: 0.8em;
}
.box-about div h2 {
    margin-bottom: 1em;
}
.box-about div p {
    line-height:190%;
    margin: 1.2em 0;
}

/*
 * Aspecto geral para textos
 */
.b {
    font-weight: bold;
}

/*
 * Painel Administrativo
 */
#controlpaneltabs li {
    font-size: 0.7em;
    padding: 0;
}
#controlpaneltabs li.active a:hover  {
    color: #428bca;
    cursor: pointer;
}
.tab-content {
    background-color: #fff;
    border: 1px solid #DDD;
    border-top-width: 0;
    padding: 0.7em;
    font-size: 1em;
}
.box-title-admin {
    margin-bottom: -1.5em;
    width: 100%;
    text-align: right;
    font-size: 0.7em;
}

/*
 * Espaçamento entre grupo de botões
 */
.buttons button {
    margin: 0.2em 0;
}

/* 
 * Responsivo 
 */
@media screen and (max-width: 640px) {
   
   /*
    * Painel Administrativo
    */ 
   .box-title-admin {
      margin-bottom: 0.8em;
      text-align: center;
   }
   #controlpaneltabs li a {
      margin:0;
      padding: 0.5em;
      font-size: 0.9em;
   }

}